body {
	font-size: 100%;
}

#app {
	min-width: 40em;
	margin: 15px;
}

#icon {
	max-height: 26px;
	vertical-align: middle;
}

#archive-results .row {
	/* table-layout: fixed; */
	width: 90%;
	max-width: 100px;
}

/* #archive-results td {
    width: auto;
}

#archive-results td:nth-child(2) {
    width: 150px;
} */

table td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	padding: 5px;
}
